{% extends 'base.html' %}
{% block content %}

<div class="page-header">
  {% include 'includes/alert.html' %}
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Leave</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'apply_leave' %}">Leave</a></li>
        <li class="breadcrumb-item active">view</li>
      </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
      <a href="#" class="btn btn-success"><i class="fas fa-eye"></i></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-header border border-info d-flex justify-content-center bg-info text-primary">
        <strong>Leave Form</strong>
      </div>
      <div class="card-body border border-info">
        <form class="row" method="POST" action="{% url 'apply_leave' %}">
          {% csrf_token %}
          <div class="col-12 mb-0 pb-0 form-header d-flex justify-content-end">
            <div class="col-12 col-md-4 input-group date" id="leaveDate">
              <span class="col col-3 input-group-text m-0" style="border-radius: 5px 0 0 5px">Date</span>
              <input type="text" class="form-control" name="leave" placeholder="Apply-date" required/>
              <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="col-12 d-flex p-0">
            <div class="col-12 form-header">
              <p>To,</br>&nbsp;&nbsp;&nbsp;&nbsp;The Head Of Depart.</br>&nbsp;&nbsp;&nbsp;&nbsp;Preschool Jhunsi,</br>&nbsp;&nbsp;&nbsp;&nbsp;Jhunsi,
                Prayagraj</p>
              <p>Dear Sir,</p>
            </div>
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" style="border-radius: 5px 0 0 5px">Subject:-&nbsp;</span>
            <input type="text" class="form-control" id="subject" name="subject">
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" style="border-radius: 5px 0 0 5px">Message:-&nbsp;</span>
            <textarea rows="5" class="form-control" id="message" name="message"></textarea>
            <input type="text" class="form-control" name="staff_id" value="{{user.id}}" hidden/>
          </div>
          <div class="col-12">
            <label class="text-dark">Leave Duration-</label>
          </div>
          <div class="col-12 d-md-flex p-0 mb-5">
            <div class="col-12 col-md-6 mb-3 p-0 pr-md-5">
              <div class="input-group date mr-0" id="leaveDateFrom">
                <span class="col col-2 input-group-text m-0" style="border-radius: 5px 0 0 5px">Start:</span>
                <input type="text" class="form-control" name="leave_from" placeholder="Start-date" required/>
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-3 p-0">
              <div class="input-group date mr-0" id="leaveDateTo">
                <span class="col col-2 input-group-text m-0" style="border-radius: 5px 0 0 5px">End:</span>
                <input type="text" class="form-control" name="leave_to" placeholder="End-Date" required/>
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex p-0">
            <div class="col-12 form-footer">
              <p class="mb-0">Your faithfully</p>
              <p class="mb-0">{{user.first_name}}&nbsp;{{user.last_name}}</p>
              <p>(Staff Member)</p>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Request Leave</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Leave Status</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'apply_leave' %}">Leave</a></li>
        <li class="breadcrumb-item active">Status</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body border border-info">
        <div class="table-responsive">
          <table id="table_id" class="table table-hover table-center mb-0">
            <thead>
            <tr>
              <th>Subject</th>
              <th>Applied Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for i in leave_status %}
            <tr>
              <td>{{i.subject}}</td>
              <td>{{i.leave_apply_date}}</td>
              <td>{{i.leave_from}}</td>
              <td>{{i.leave_to}}</td>
              <td>
                {% if i.status == 0 %}
                <span class="badge badge-warning">Pending</span>
                {% elif i.status == 1 %}
                <span class="badge badge-success">Accepted</span>
                {% else %}
                <span class="badge badge-danger">Rejected</span>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
  <a href="#" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-trash"></i>
  </a>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><span class="text-secondary">Delete Data</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="d-flex text-wrap m-4 pr-2 float-left">
          <div class="text-secondry">
            <p>Dear user, do you want to delete the course from you the record permanently?</p>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-around p-3 bt-1 hr hr-blurry">
          <a href="#" class="btn bg-success-light" data-dismiss="modal">Cancle</a>
          <a href="#" class="btn btn bg-danger text-white">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
  -->

{% endblock %}