{% extends 'base.html' %}
{% block content %}

<div class="page-header">
  {% include 'includes/alert.html' %}
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Leave</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'apply_leave' %}">Leave</a></li>
        <li class="breadcrumb-item active">view</li>
      </ul>
    </div>
    <div class="col-auto text-right float-right ml-auto">
      <a href="#" class="btn btn-success"><i class="fas fa-eye"></i></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-header h4 border border-info d-flex justify-content-center bg-secondary text-light">
        Leave Form
      </div>
      <div class="card-body text-white">
        <form class="row text-dark" method="POST" action="{% url 'apply_leave' %}">
          {% csrf_token %}
          <div class="col-12 mb-0 pb-0 form-header d-flex justify-content-end">
            <div class="col-12 col-md-4 input-group date" id="leaveDate">
              <span class="col col-3 input-group-text m-0" style="border-radius: 5px 0 0 5px">Date</span>
              <input type="text" class="form-control" name="leave" placeholder="Apply-date" required/>
              <span class="input-group-append">
                <span class="input-group-text bg-light d-block">
                  <i class="fa fa-calendar"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="col-12 d-flex p-0">
            <div class="col-12 form-header">
              <p>To,</br>&nbsp;&nbsp;&nbsp;&nbsp;The Head Of Depart.</br>&nbsp;&nbsp;&nbsp;&nbsp;Preschool Jhunsi,</br>&nbsp;&nbsp;&nbsp;&nbsp;Jhunsi,
                Prayagraj</p>
              <p>Dear Sir,</p>
            </div>
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" style="border-radius: 5px 0 0 5px">Subject:-&nbsp;</span>
            <input type="text" class="form-control" id="subject" name="subject">
          </div>
          <div class="input-group mb-5">
            <span class="input-group-text" style="border-radius: 5px 0 0 5px">Message:-&nbsp;</span>
            <textarea rows="5" class="form-control" id="message" name="message"></textarea>
            <input type="text" class="form-control" name="staff_id" value="{{user.id}}" hidden/>
          </div>
          <div class="col-12">
            <label class="text-dark">Leave Duration-</label>
          </div>
          <div class="col-12 d-md-flex p-0 mb-5">
            <div class="col-12 col-md-6 mb-3 p-0 pr-md-5">
              <div class="input-group date mr-0" id="leaveDateFrom">
                <span class="col col-2 input-group-text m-0" style="border-radius: 5px 0 0 5px">Start:</span>
                <input type="text" class="form-control" name="leave_from" placeholder="Start-Date" required/>
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div>
            </div>

            <div class="col-12 col-md-6 mb-3 p-0">
              <div class="input-group date mr-0" id="leaveDateTo">
                <span class="col col-2 input-group-text m-0" style="border-radius: 5px 0 0 5px">End:</span>
                <input type="text" class="form-control" name="leave_to" placeholder="End-Date" required/>
                <span class="input-group-append">
                  <span class="input-group-text bg-light d-block">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-12 d-flex p-0">
            <div class="col-12 form-footer">
              <p class="mb-0">Your faithfully</p>
              <p class="mb-0">{{user.first_name}}&nbsp;{{user.last_name}}</p>
              <p>(Staff Member)</p>
            </div>
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Request Leave</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}