<script>

$(document).ready(function() {

	// Bar chart

	if ($('#stud_gender').length > 0) {
	var optionsBar = {
		chart: {
			type: 'bar',
			height: 350,
			width: '100%',
			stacked: true,
			toolbar: {
				show: false
			},
		},
		dataLabels: {
			enabled: true
		},
		plotOptions: {
			bar: {
				columnWidth: '45%',
			}
		},
		series: [{
			name: "Boys",
			color: '#fdbb38',
			data: [{{male_count}}],
		}, {
			name: "Girls",
			color: '#19affb',
			data: [{{female_count}}],
		}],
		labels: [2009, 2010, 2011],
		xaxis: {
			labels: {
				show: false
			},
			axisBorder: {
				show: false
			},
			axisTicks: {
				show: false
			},
		},
		yaxis: {
			axisBorder: {
				show: false
			},
			axisTicks: {
				show: false
			},
			labels: {
				style: {
					colors: '#777'
				}
			}
		},
		title: {
			text: '',
			align: 'left',
			style: {
				fontSize: '18px'
			}
		}

	}

	var chartBar = new ApexCharts(document.querySelector('#stud_gender'), optionsBar);
	chartBar.render();
	}

});



</script>