<script>

$(document).ready(function() {

  if ($('#area-chart').length > 0) {
        var options = {
            chart: {
                height: 350,
                type: "area",
                toolbar: {
                    show: false
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: "smooth"
            },
            series: [{
                name: "Teachers",
                data: [45, 60, 75, 51, 42, 42, 30]
            }, {
                name: "Students",
                data: [24, 48, 56, 32, 34, 52, 25]
            }],
            xaxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
            }
        }
        var chart = new ApexCharts(
            document.querySelector("#area-chart"),
            options
        );
        chart.render();
	}

	// Bar chart

	if ($('#stud_gender').length > 0) {
	var optionsBar = {
		chart: {
			type: 'bar',
			height: 350,
			width: '100%',
			stacked: true,
			toolbar: {
				show: false
			},
		},
		dataLabels: {
			enabled: true
		},
		plotOptions: {
			bar: {
				columnWidth: '45%',
			}
		},
		series: [{
			name: "Boys",
			data: [{{male_count}}],
		}, {
			name: "Girls",
			data: [{{female_count}}],
		}],
		labels: [2009, 2010, 2011],
		xaxis: {
			labels: {
				show: false
			},
			axisBorder: {
				show: false
			},
			axisTicks: {
				show: false
			},
		},
		yaxis: {
			axisBorder: {
				show: false
			},
			axisTicks: {
				show: false
			},
			labels: {
				style: {
					colors: '#777'
				}
			}
		},
		title: {
			text: '',
			align: 'left',
			style: {
				fontSize: '18px'
			}
		}

	}

	var chartBar = new ApexCharts(document.querySelector('#stud_gender'), optionsBar);
	chartBar.render();
	}



	//pieChart
	if ($('#pie-chart').length > 0) {
     var options = {
        series: [{{students_count}}, {{staffs_count}}, {{courses_count}}, {{subjects_count}}],
        labels: ['Students', 'Staffs', 'Courses', 'Subjects'],
        chart: {
          width: 380,
          type: 'donut',
        },
        plotOptions: {
          pie: {
            startAngle: 0,
            endAngle: 270,
            donut: {
              size: '50%'
            },
          }
        },
        dataLabels: {
          enabled: false
        },
        fill: {
          type: 'gradient',
        },
        legend: {
          formatter: function(val, opts) {
            return val + " - " + opts.w.globals.series[opts.seriesIndex]
          }
        },
        title: {
          text: 'Gradient Donut with custom Start-angle'
        },
        responsive: [{
          breakpoint: 180,
          options: {
            chart: {
              width: 100
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
     };
     var chart = new ApexCharts(document.querySelector("#pie-chart"), options);
     chart.render();
	}

});






</script>