<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">
          <span>Main Menu</span>
        </li>
        <li class="submenu active">
        <li>
          {% if user.user_type == '1' %}
          <a href="{% url 'hod_home' %}"><i class="fa fa-user"></i><span>Dashboard</span></a>
          {% elif user.user_type == '2' %}
          <a href="{% url 'staff_home' %}"><i class="fa fa-user"></i><span>Dashboard</span></a>
          {% else %}
          <a href="{% url 'student_home' %}"><i class="fa fa-user"></i><span>Dashboard</span></a>
          {% endif %}
        </li>
        </li>

        <li class="submenu">
          <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Staff </span> <span
              class="menu-arrow"></span></a>
          <ul>
            <li><a href="{% url 'view_staff' %}">View Staff</a></li>
            <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
          </ul>
        </li>

        <li class="submenu">
          <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span
              class="menu-arrow"></span></a>
          <ul>
            <li><a href="{% url 'view_student' %}">View Student</a></li>
            <li><a href="{% url 'add_student' %}">Add Student</a></li>
          </ul>
        </li>

        <li class="submenu">
          <a href="#"><i class="fa fa-graduation-cap"></i><span> Courses</span> <span
              class="menu-arrow"></span></a>
          <ul>
            <li><a href="{% url 'view_course' %}">Courses Views</a></li>
            <li><a href="{% url 'add_course' %}">Courses Add</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span
              class="menu-arrow"></span></a>
          <ul>
            <li><a href="subjects.html">Add Subject</a></li>
            <li><a href="add-subject.html">View Subject</a></li>
          </ul>
        </li>

        <li class="submenu">
          <a href="#"><i class="fa fa-clock"></i> <span> Session</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="subjects.html">Session View</a></li>
            <li><a href="add-subject.html">Session Add</a></li>
            <li><a href="edit-subject.html">Session Edit</a></li>
          </ul>
        </li>
        <li class="menu-title">
          <span>Management</span>
        </li>

        <li>
          <a href="holiday.html"><i class="fa fa-calendar"></i> <span>View Attendance</span></a>
        </li>

        <li class="submenu">
          <a href="#"><i class="fa fa-comments"></i><span> Feedback</span> <span
              class="menu-arrow"></span></a>
          <ul>
            <li><a href="departments.html">Staff Feedback</a></li>
            <li><a href="add-department.html">Student Feedback</a></li>
          </ul>
        </li>

        <li class="submenu">
          <a href="#"><i class="fa fa-home"></i> <span> Leave</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="departments.html">Staff Leave</a></li>
            <li><a href="add-department.html">Student Leave</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i><span>Logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>