<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>PrabhuShala</title>
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
  <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/datatables/datatables.min.css' %}">

  <!-- DataTable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
          integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous">
  </script>

</head>
<body>
<div class="main-wrapper">
  <!-- header -->
  {% include 'includes/header.html' %}
  <!-- sidebar -->
  {% include 'includes/sidebar.html' %}
  <div class="page-wrapper">
    <div class="content container-fluid">
      {% block content %} {% endblock %}
      <!-- footer -->
      {% include 'includes/footer.html' %}
    </div>
  </div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#table_id').dataTable({
      //paging: true,
      //pageLength: 5,
      //lengthChange: true,
      //autoWidth: true,
      //searching:true,
      //bInfo: true,
      //bSort: true,
    });
  });

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
  $(function(){
    $('#session_start').datepicker({
      format: 'dd/mm/yyyy'
    });
    $('#session_end').datepicker({
      format: 'dd/mm/yyyy'
    });
    $('#leaveDateTo').datepicker({
      format: 'dd/mm/yyyy'
    });
    $('#leaveDateFrom').datepicker({
      format: 'dd/mm/yyyy'
    });
    $('#leaveDate').datepicker({
      format: 'dd/mm/yyyy'
    });
  });
</script>

</body>
</html>