{% extends 'base.html' %}
{% block content %}
{% load static %}

{% include 'includes/alert.html' %}
<div class="row">
  <div class="col bg-white">
    <h3 class="page-title">Staff Notification</h3>
    <ul class="breadcrumb bg-white p-0 mb-5">
      <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
      <li class="breadcrumb-item active">Staff Notifications</li>
    </ul>
  </div>
  <div class="col-auto text-right float-right ml-auto">
    <button class="btn btn-primary mr-2" data-target="#view_notification" data-toggle="modal" type="button">
      <i class="fas fa-eye"></i><span class="ml-2">View All Notifications</span>
    </button>
    <a class="btn btn-success" href="#"><i class="fas fa-plus"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-center mb-0" id="table_id">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th class="text-left">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in staffs %}
            <tr>
              <td>{{i.id}}</td>
              <td>
                <h2 class="table-avatar">
                  {% if i.admin_id.profile_Pic == "" %}
                  <a class="avatar avatar-sm mr-2" href="#">
                    <img class="avatar-img rounded-circle" src="{% static 'assets/img/no-img.jpg' %}"></a>
                  {% else %}
                  <a class="avatar avatar-sm mr-2" href="#"><img
                      class="avatar-img rounded-circle" src="/{{i.admin.profile_Pic}}"></a>
                  <a href="#">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</a>
                  {% endif %}
                </h2>
              </td>
              <td>{{i.admin.email}}</td>
              <td>
                <div class="actions">
                  <button class="btn btn-primary"
                          data-target="#send_Notification-{{forloop.counter}}"
                          data-toggle="modal"><i class="fa fa-paper-plane"></i>
                    <span class="ml-3">Send</span>
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--view Staff Notification Modals-->
<div aria-hidden="true" aria-labelledby="view_notificationLabel" class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="view_notification"
     tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document" style="width:100%;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="view_notificationLabel"><span class="text-secondary">All Notifications</span></h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-center mb-0">
          <thead>
          <tr>
            <th>Name</th>
            <th>Message</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          {% for i in see_notification %}
          <tr>
            <td>{{i.staff_id}}</td>
            <td>{{i.messages}}</td>
            {% if i.status == 1 %}
            <td><span class="badge badge-success"><i class="fa fa-check pr-2"></i>Checked</span></td>
            <td>
              <button class="btn btn-danger d-flex justify-content-between align-items-center"
                      data-target="#delete_notification-{{forloop.counter}}"
                      data-toggle="modal">
                <i class="fa fa-trash"></i>
              </button>
            </td>
            {% else %}
            <td><span class="badge badge-danger"><i class="fa fa-times pr-2"></i>Unchecked</span></td>
            <td>
              <button class="btn btn-danger d-flex justify-content-between align-items-center" disabled>
                <i class="fa fa-trash"></i>
              </button>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a class="btn bg-success-light float-right" data-dismiss="modal" href="#">Cancel</a>
      </div>
    </div>
  </div>
</div>

<!--Staff delete Notification Modals-->
{% for j in see_notification %}
<div aria-hidden="true" aria-labelledby="delete_notificationLabel" class="modal fade"
     id="delete_notification-{{forloop.counter}}"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete_notificationLabel">
          <span class="text-secondary">
          Delete Notification
          </span>
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete the notification permanently??
      </div>
      <div class="modal-footer">
        <a class="btn bg-success-light float-right" data-dismiss="modal" href="#">Cancel</a>
        <a href="{% url 'delete_notification' j.id %}" class="btn bg-danger float-right"
           data-dismiss="modal">
          Delete
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!--Staff Send Notification Modals-->
{% for i in staffs %}
<div aria-hidden="true" aria-labelledby="send_NotificationLabel" class="modal fade"
     id="send_Notification-{{forloop.counter}}"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="send_NotificationLabel">
          <span class="text-secondary">
          Send Notification to {{i.admin.first_name}}&nbsp;{{i.admin.last_name}}
          </span>
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="m-4 pr-2">
        <form action="{% url 'save_notification' %}" method="POST">
          {% csrf_token %}
          <div class="mb-2">
            <label class="form-label">Message</label>
            <input class="form-control" name="message" type="text">
            <input class="form-control" hidden name="staff_id" type="text" value="{{i.admin.id}}">
          </div>
          <button class="btn btn-primary float-centre" type="submit">Send Notification</button>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn bg-success-light float-right" data-dismiss="modal" href="#">Cancle</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}