{% extends 'base.html' %}
{% block content %}

<div class="page-header">
  {% include 'includes/alert.html' %}
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Staff Leave</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'apply_leave' %}">Information</a></li>
        <li class="breadcrumb-item active">Status</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-header border border-info d-flex justify-content-center bg-info text-primary">
        <strong>Staff Leave Status</strong>
      </div>
      <div class="card-body border border-info">
        <div class="table-responsive">
          <table id="table_id" class="table table-hover table-center mb-0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Applied Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in leave %}
            <tr>
              <td>{{i.staff_name}}</td>
              <td>{{i.leave_apply_date}}</td>
              <td>{{i.leave_from}}</td>
              <td>{{i.leave_to}}</td>
              <td>
                <a href="#" class="btn btn-info">
                  <i class="fa fa-eye"></i>
                </a>
                <a href="{% url 'accept_staff_leave' i.id %}" class="btn btn-primary">Accept</a>
                <a href="{% url 'decline_staff_leave' i.id %}" class="btn btn-danger">Decline</a>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
