{% extends 'base.html' %}
{% block content %}

<div class="page-header">
  {% include 'includes/alert.html' %}
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Staff Leave</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'apply_leave' %}">Information</a></li>
        <li class="breadcrumb-item active">Status</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table">
      <div class="card-header h4 d-flex justify-content-center bg-secondary text-light">
      Staff Leave Status
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="table_id" class="table table-hover table-center mb-0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Applied Date</th>
              <th>Start</th>
              <th>End</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in leave %}
            <tr>
              <td>{{i.staff_name}}</td>
              <td>{{i.leave_apply_date}}</td>
              <td>{{i.leave_from}}</td>
              <td>{{i.leave_to}}</td>
              <td>
                <button class="btn btn-primary"
                        data-target="#leaveAction-{{forloop.counter}}"
                        data-toggle="modal"><i class="fa fa-paper-plane"></i>
                  <span class="ml-1">Send</span>
                </button>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modal for leave action  leave_action-->

{% for i in leave %}
<div aria-hidden="true" aria-labelledby="leaveActionLabel" class="modal fade"
     id="leaveAction-{{forloop.counter}}"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leaveActionLabel">
          <span class="text-secondary">
          Message Content
          </span>
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-4 pr-2">
          <div class="col-12 letter-header">
            <span class="float-right">{{i.leave_apply_date}}</span>
            <p><strong>To</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;The Head Of Depart.</br>&nbsp;&nbsp;&nbsp;&nbsp;Preschool
              Jhunsi,</br>&nbsp;&nbsp;&nbsp;&nbsp;Jhunsi,
              Prayagraj</p>
            <p><strong>Dear Sir/Mam</strong>,</p>
          </div>
          <div class="col-12 letter-subject">
            <p><strong>Subject:</strong>&nbsp;&nbsp;&nbsp;{{i.subject}}</p>
          </div>
          <div class="col-12 letter-body">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{i.message}}</p>
            <p class="mt-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;So, I want leave from {{i.leave_from}} to {{i.leave_to}} date. I will be so thankful of you.</p>
            Thank you.
          </div>
          &nbsp;
          <div class="col-12 letter-footer">
            <p class="mb-0">Your faithfully</p>
            <p class="mb-0 text-dark">{{i.staff_name}}</p>
            <p>(Staff Member)</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn bg-success-light float-right" data-dismiss="modal" href="#">Cancle</a>
        <a href="{% url 'accept_staff_leave' i.id %}" class="btn btn-primary">Accept</a>
        <a href="{% url 'decline_staff_leave' i.id %}" class="btn btn-danger">Decline</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
