{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="page-header m-0 p-0">
  {% include 'includes/alert.html' %}
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-table ">
      <div class="card-header h4 border border-info d-flex justify-content-center bg-secondary text-light">
        Feedback
      </div>
      <div class="card-body text-white">
        <div class="table-responsive">
          <table class="table table-hover table-center mb-0 text-black" id="table_id">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Created at</th>
              <th class="text-left">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in feedbacks %}
            <tr>
              <td>{{i.id}}</td>
              <td>{{i.staff_id}}</td>
              <td>{{i.created_at}}</td>
              <td>
                <div class="actions">
                  <button class="btn btn-primary"
                          data-target="#showFeedbacks-{{forloop.counter}}"
                          data-toggle="modal"><i class="fa fa-eye"></i>
                    <span class="ml-1">Show</span>
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Staff Send Feedback Modals-->
{% for i in staffs %}
<div aria-hidden="true" aria-labelledby="showFeedbacksLabel" class="modal fade"
     id="showFeedbacks-{{forloop.counter}}"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showFeedbacksLabel">
          <span class="text-secondary">
          Send Feedback to {{i.admin.first_name}}&nbsp;{{i.admin.last_name}}
          </span>
        </h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="m-4 pr-2">
        <form action="#" method="POST">
          {% csrf_token %}
          <div class="mb-2">
            <label class="form-label">Message</label>
            <input class="form-control" name="message" type="text">
            <input class="form-control" hidden name="staff_id" type="text" value="{{i.admin.id}}">
          </div>
          <button class="btn btn-primary float-centre" type="submit">Show Feedback</button>
        </form>
      </div>
      <div class="modal-footer">
        <a class="btn bg-success-light float-right" data-dismiss="modal" href="#">Cancle</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}